<% if session[:omniauth].present? %>
  Enter your username and password to link to your <%= session[:omniauth]['provider'].camelcase %> account.
<% end %>
<%= form_tag session_path do %>
  <label for="username">Username or Email</label>
  <%= text_field_tag :username, params[:username] %>
  <br/>
  <label for="password">Password</label>
  <%= password_field_tag :password %>
  <br/>
  <%= submit_tag 'Log In' %>
<% end %>