<h2>Sign up</h2>

<%= form_for(@user) do |f| %>
  <% if session[:omniauth] && @user.errors[:username].detect {|e| e =~ /is already registered in our system/ } %>
    We already have an account in our system with this email address. If you are the owner of the '<%= @user.username %>' account
    <%= link_to("click here to link your existing account to #{session[:omniauth]['provider'].camelcase}", new_session_path(:username => @user.username)) %>.
  <% else %>
    <% if @user.errors[:omniauth].present? %>
      We need a little more information to link you to your <%= session[:omniauth]['provider'].camelcase %> account.
    <% else %>
      <%= error_messages_for :user %>
    <% end %>
  
    <% unless @person.valid? %>
      <%= fields_for @person do |pf| %>
        <p><%= pf.label :firstName, 'First Name' %><br />
        <%= pf.text_field :firstName %></p>
        <p><%= pf.label :lastName, 'Last Name' %><br />
        <%= pf.text_field :lastName %></p>
      <% end %>
    <% end %>

    <% if @user.username.blank? %>
      <p><%= label_tag :email %><br />
      <%= text_field_tag :email, @user.username %></p>
    <% end %>
  
    <% if @user.password_required? %>
      <p><%= f.label :plain_password, 'Password' %><br />
      <%= f.password_field :plain_password %></p>

      <p><%= f.label :plain_password_confirmation, 'Password Confirmation' %><br />
      <%= f.password_field :plain_password_confirmation %></p>
    <% end %>

    <p><%= f.submit "Sign up" %></p>
  <% end %>
<% end %>

