<h2>Reset password</h2>
<div style="clear:both"></div>
<div style="">
  <%= form_for @user, :html => {:method => :put} do |form| %>
    <%= hidden_field_tag :c, params[:c] %>
    <%= form.label :plain_password, 'Password: ' %>
    <%= form.password_field :plain_password %><br/>
    <%= form.label :plain_password_confirmation, 'Password Confirmation: ' %>
    <%= form.password_field :plain_password_confirmation %><br/><br/>
    <%= form.submit 'Set Password' %>
  <% end %>
</div>